$roboto: 'Roboto', sans-serif !default;
$title-font: 'Bevan', cursive;

$contrast: #303036;

$primary-color: #F9F8EB;
$secondary-color: #FFE1B6;
$third-color: #7A9EB1;
$forth-color: #415865;
$offWhite: #F8F8F8;
$background: $offWhite;
$link: #C54321;
